[submodule "components/homekit"]
	path = components/homekit
	url = https://github.com/willson556/esp32-homekit.git
[submodule "components/udp-logging"]
	path = components/udp-logging
	url = git@github.com:willson556/embedded-esp32-component-udp_logging.git
[submodule "components/mongoose"]
	path = components/mongoose
	url = git@github.com:willson556/mongoose_espidf.git
