[submodule "components/homekit"]
	path = components/homekit
	url = git@github.com:willson556/esp32-homekit.git
[submodule "components/udp-logging"]
	path = components/udp-logging
	url = git@github.com:willson556/embedded-esp32-component-udp_logging.git
[submodule "components/ota"]
	path = components/ota
	url = git@github.com:willson556/esp32-simple-ota.git
